apiVersion: batch/v1
kind: CronJob
metadata:
  name: upload-purge
  namespace: nodejuploader
spec:
  schedule: "0 * * * *"  # Every hour
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: purge
              image: xblaster/nodejuploader:latest
              args: ["--purge-only"]
              env:
                - name: UPLOAD_DIR
                  value: "/tmp/uploads"
              volumeMounts:
                - name: upload-storage
                  mountPath: /tmp/uploads
          volumes:
            - name: upload-storage
              persistentVolumeClaim:
                claimName: upload-pvc
