name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'

    # Scripts Deps
    - name: Install Script Dependencies
      run: npm install badgen fs-extra

    # Backend
    - name: Install Backend Dependencies
      run: cd back && npm ci

    - name: Run Backend Tests
      # Ensure tmp dir exists or is created by test
      run: cd back && npm test

    # Frontend
    - name: Install Frontend Dependencies
      run: cd front && npm ci

    - name: Run Frontend Tests
      run: cd front && npm test

    - name: Generate Coverage Badge
      run: node scripts/generate-badge.js

    - name: Build Frontend
      run: cd front && npm run build
